* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
    height: 40vh;
    padding: 30px 25px;
}
.main .top {
    display: flex;
}
.main .top h2 {
    margin-top: 30px;
    margin-left: 10px;
}
.main .top img {
    width: 90px;
}
.main #chip {
    margin-left: 175px;
}
.center {
    margin-top: 10px;
}
.center h6 {
    font-size: 20px;
}
.center h4 {
    padding-top: 6px;
    font-size: 30px;
}
.bottom {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.bottom .val {
    font-size: 20px;
}
