* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32a4f1;
}
.main {
    background-color: white;
    border-radius: 20px;
    width: 500px;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.main .img {
    background-color: #3c6c8d;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .img img {
    width: 300px;
    margin-left: 40px;
}
.bottom {
    margin: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom .top-txt {
    margin: 20px 30px;
}
.bottom img {
    width: 60px;
}
.bottom .plan {
    display: flex;
    justify-content: space-between;
}
.bottom .plan .start {
    display: flex;
}
.bottom .plan .year {
    margin-top: 18px;
}
.bottom .plan a {
    color: darkblue;
    margin-top: 25px;
}