* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    background-color: rgb(14, 9, 88);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LOGO {
    margin-left: 25px;
    color: rgb(146, 19, 10);
}
.nav-links {
    width: 40%;
}
.nav-links ul {
    display: flex;
    list-style: none;
}
.nav-links a {
    text-decoration: none;
    color: cyan;
    padding: 6px;
}
.nav-links button {
    margin-left: 10px;
    border-radius: 6px;
    padding: 3px;
    color: white;
    background-color: rgb(17, 126, 153);
    border: transparent 1px solid;
    transition: 0.5s;
}
.nav-links button:hover {
    background-color: rgb(5, 47, 58);
    cursor: pointer;
}