.st {
    color: midnightblue;
}
.nd {
    color: mediumpurple;
}
.rd {
    color: goldenrod;
}
.th {
    color: saddlebrown;
}
.fth {
    color: palevioletred;
}
.sth {
    color: cyan;
}
.idk {
    color: tomato;
}